<h1>Take a look at some of the other collections our users have created</h1>
<ul>
  <%Collection.all.each do |col|%>
  <li>
    <%=col.name%>
    <li>
      <%=col.description%>
      <p>Created by: <%=User.find(col.user_id).username%></p>
    </li>
  </li>
  <%end%>
</ul>