<h1>Welcome! fill out the form below to sign up!</h1>
<div>
  <form action="/users/signup" method="post">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username">

    <label for="password">Password: </label>
    <input type="text" name="password" id="password">

    <label for="password_confirmation">Confirm password</label>
    <input type="password" name="password_confirmation" id="password_confirmation">

    <label for="description">Tell us a little bit about you!</label>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>
    <input type="submit"  name="submit" value="submit">
  </form>
</div>
